.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

html {
  background-color: #282c34;
}

.p--logo {
  color: whitesmoke;;
  font-weight: 700;
  display: inline;
}

.App-body {
  margin-top: 4rem;
  color: whitesmoke;
  text-align: left;
  background-color: #282c34;
}

.h1--title {
  font-size: 5rem;
}

.p--tag {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.button {
  margin-top: 2rem;
}

.link {
  color: whitesmoke;
}

.h2--classification-label {
  display: inline-block;
}

.h2--classification {
  color: whitesmoke;
  display: inline-block;
}

.h1--heading {
  color: whitesmoke;
}

.table--frequency {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: whitesmoke;
  background-color: transparent;
}

.footer {
  bottom: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 100%;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  text-align: left;
  color: whitesmoke;
}