.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

html {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#logo {
  font-weight: 700;
  display: inline;
}
#nav {
  background-color: white;
}

#brand{
  color: #282c34;
}

.App-body {
  margin-top: 4rem;
  color: whitesmoke;
  text-align: left;
  background-color: #282c34;
}

#title{
  font-size: 5rem;
}

#tagline{
  font-size: 2rem;
  margin-bottom: 4rem;
}

.button{
  margin-top: 2rem;
}

.link {
  color: whitesmoke;
}


#row {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.empty {
  margin-top: 5rem;
}

.classificationLabel {
  display: inline-block;
}

.classification {
  color: whitesmoke;
  display: inline-block;
}

.dataHeading {
  color: whitesmoke
}


#footer {
  bottom: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 100%;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  text-align: left;
  color: whitesmoke;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
